bleach
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
notedown
numpy
pandas
pandoc-attributes
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
